# Ignorer les fichiers générés par npm (frontend Angular)
node_modules/
dist/
# Ignorer les fichiers générés par Maven (backend Spring Boot)
target/
*.log
*.class
*.jar
# Ignorer les fichiers de configuration de l'IDE
.idea/
.vscode/
*.iml
.DS_Store